/* =============== GOOGLE FONTS =============== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none; /* Hide scroll bars in WebKit browsers (Chrome, Safari) */
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.Text{
  font-size: 20px;
  color:white;
}

a {
  text-decoration: none;
}

.About_Me
{
  position: relative;
  left: 39%;
  top: 30px;
  font-size: 10px;
  display: flex;
}

.paragraph1 {
  position: relative;
  left: 89%;
  top: 45px;
  text-align: left;
  font-size: 10px;
  color: white;
  font-size: 14px;
  transform: translateX(-50%);
}

.NavProjects
{
  position:relative;
  left: 38%;
  top: 350px;
  color: white;
}

.Name {
  display: inline-block;
  font-size: 50px;
  color: red;
}

.card__container
{
  position: relative;
  left: 30%;
  top: 400px;
}

.card__img
{
  position: relative;
  left: 8%;
  width: 300px;
}

.card__img1
{
  position: relative;
  left: 22%;
  top: -390px;
  width: 300px;
}

.card__img3
{
  position: relative;
  left: 36%;
  top: -778px;
  width: 300px;
}

.card__img2
{
  position: relative;
  left: 8%;
  bottom: 800px;
  width: 300px;
}

.card__img4
{
  position: relative;
  left: 22%;
  bottom: 1225px;
  width: 300px;
}

.card__title
{
  position: relative;
  top: -200px;
  left: 9.9%;
  font-weight: 1000px;
  font-size: 30px;
  color: black;
}


.card_Description
{
  position: relative;
  top: -140px;
  left: 9.35%;
  font-size: 15px;
  font-weight: 200%;
  color: black;
}

.card__title1
{
  position: relative;
  top: -590px;
  left: 25%;
  font-weight: 1000px;
  font-size: 30px;
  color: black;
}

.card_Description1
{
  position: relative;
  top: -530px;
  left: 22.5%;
  font-size: 15px;
  font-weight: 200%;
  color: black;
}

.card__title3
{
  position: relative;
  top: -980px;
  left: 37%;
  font-weight: 1000px;
  font-size: 30px;
  color: black;
}

.card__title4
{
  position: relative;
  top: -1405px;
  left: 23.8%;
  font-weight: 1000px;
  font-size: 30px;
  color: black;
}

.card_Description3
{
  position: relative;
  top: -920px;
  left: 37.5%;
  font-size: 15px;
  font-weight: 200%;
  color: black;
}

.card_Description4
{
  position: relative;
  top: -1339px;
  left: 26.7%;
  font-size: 15px;
  font-weight: 200%;
  color: black;
}


.card__title2
{
  position: relative;
  top: -1000px;
  left: 9.6%;
  font-weight: 1000px;
  font-size: 30px;
  color: black;
}

.card_Description2
{
  position: relative;
  top: -950px;
  left: 12.5%;
  font-size: 15px;
  font-weight: 200%;
  color: black;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.Animations
{
  position: relative;
  top:150px;
}
.AbtMe
{
  position: relative;
  top: 160px;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.NavGit
{
  position: relative;
  top: -290px;
  margin-bottom: 0px;
  left: 16%;
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--black-color)
}

.NavLink
{
  position: relative;
  top: -290px;
  margin-bottom: 0px;
  left: 17%;
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--black-color)
}

.NavGit1
{
  position: relative;
  top: -680px;
  margin-bottom: 0px;
  left: 30%;
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--black-color)
}

.NavLink1
{
  position: relative;
  top: -680px;
  margin-bottom: 0px;
  left: 31%;
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--black-color)
}

.NavGit2
{
  position: relative;
  top: -1090px;
  margin-bottom: 0px;
  left: 16%;
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--black-color)
}

.NavLink2
{
  position: relative;
  top: -1090px;
  margin-bottom: 0px;
  left: 17%;
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--black-color)
}

.NavGit3
{
  position: relative;
  top: -1070px;
  margin-bottom: 0px;
  left: 44%;
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--black-color)
}

.NavLink3
{
  position: relative;
  top: -1070px;
  margin-bottom: 0px;
  left: 45%;
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--black-color)
}

.NavGit4
{
  position: relative;
  top: -1519px;
  margin-bottom: 0px;
  left: 30%;
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--black-color)
}

.NavLink4
{
  position: relative;
  top: -1519px;
  margin-bottom: 0px;
  left: 31%;
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--black-color)
}

.nav__logo, 
.Nav1,
.nav__burger, 
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
}

.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover, 
.dropdown__sublink:hover {
  background-color: var(--black-color);
}

.dropdown__menu, 
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

.button {
  position: relative;
  transition: transform .4s;
  width: 100px;
}

.button__content {
  position: relative;
  background: #0077B5;
  padding: .75rem 0.5rem;
  border-radius: 2rem;
  border: 5px solid var(--black-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  overflow: hidden;
  width: 300px;
  left: 39%;
  top: -620px;
  
}

.button__text {
  font-weight: 700;
}

.button__icon {
  font-size: 1.5rem;
}

.button__text, 
.button__icon {
  position: relative;
  z-index: 2;
}

.ContLogo
{
  position: relative;
  left: 39%;
  top: -700px;
  color: white;
}

.Cont_Logo
{
  color: white;
}

/* Reflection shapes */
.button__reflection-1, 
.button__reflection-2 {
  width: 8px;
  height: 120px;
  background-color: var(--reflection-color);
  rotate: 30deg;
  position: absolute;
  inset: 0;
  top: 0;
  left: -180%;
  margin: auto;
  transition: left .6s cubic-bezier(.2, .5, .2, 1.2);
}

.button__reflection-1::after {
  content: "";
  width: 26px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: 1.25rem;
}

.button__reflection-2::after {
  content: "";
  width: 40px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: .8rem;
}

/* Moving geometric shapes */
.button img {
  position: absolute;
  opacity: 0;
  transition: transform .5s, opacity .5s;
}

.button__star-1 {
  width: 20px;
  top: -640px;
  left: 40%;
  transform: rotate(48deg) scale(.1);
}

.button__star-2 {
  width: 40px;
  top: -645px;
  left: 42%;
  filter: invert(1);
  transform: rotate(-48deg) scale(.1);
}

.button__circle-1, 
.button__circle-2 {
  width: 8px;
}

.button__circle-1 {
  top: -8px;
  left: 58px;
  top: -645px;
  left: 42%;
  filter: invert(1);
  transform: scale(.1);
}

.button__circle-2 {
  right: 34px;
  bottom: -8px;
  filter: invert(1);
  top: -645px;
  left: 42%;
  transform: scale(.1);
}

.button__diamond {
  width: 18px;
  filter: invert(1);
  top: -555px;
  left: 42%;
  transform: scale(.1);
}

.button__triangle {
  width: 30px;
  filter: invert(1);
  top: -555px;
  left: 45%;
  transform: rotate(-48deg) scale(.1);
}

/* Gradient shadow */
.button__shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  padding: 1.25rem 3rem;
  border-radius: 4rem;
  border: 3px solid var(--black-color);
  z-index: -1;
  transition: transform .3s;
  width: 300px;
  left: 39%;
  top: -620px;
}

/* View shadow gradient */
.button:hover .button__shadow {
  transform: translate(-.5rem, .5rem);
}

/* Move reflection */
.button:hover .button__reflection-1 {
  left: 120%;
}

.button:hover .button__reflection-2 {
  left: -70%;
}

/* View geometric shapes */
.button:hover {
  transform: rotate(-4deg) scale(1.1);
}

.button:hover img {
  opacity: 1;
}

.button:hover .button__star-1 {
  transform: scale(1.1);
  transition-delay: .1s;
  filter: invert(1)
}

.button:hover .button__star-2 {
  transform: scale(1.1);
}

.button:hover .button__circle-1 {
  transform: translateY(-8px) scale(1.1);
  transition-delay: .1s;
}

.button:hover .button__circle-2 {
  transform: translate(-20px, 20px) scale(1.1);
}

.button:hover .button__diamond {
  transform: translateY(7px) rotate(-24deg) scale(1.1);
}

.button:hover .button__triangle {
  transform: rotate(-12deg) scale(1.1);
}


.ContPar
{
  position: relative;
  top: -780px;
  left: 55%;
  color: white;

}


.ContainerButtons
{
  position: relative;
  top: -40px;
}

/* GITHUB BUTTON */


.buttonGit {
  position: relative;
  transition: transform .4s;
  width: 100px;
}

.button__contentGit {
  position: relative;
  background: #DA70D6;
  padding: .75rem 0.5rem;
  border-radius: 2rem;
  border: 5px solid var(--black-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  overflow: hidden;
  width: 300px;
  left: 39%;
  top: -600px;
  
}

.button__textGit {
  font-weight: 700;
}

.button__icon {
  font-size: 1.5rem;
}

.button__textGit, 
.button__icon {
  position: relative;
  z-index: 2;
}


/* Reflection shapes */
.button__reflection-1Git, 
.button__reflection-2Git {
  width: 8px;
  height: 120px;
  background-color: var(--reflection-color);
  rotate: 30deg;
  position: absolute;
  inset: 0;
  top: 0;
  left: -180%;
  margin: auto;
  transition: left .6s cubic-bezier(.2, .5, .2, 1.2);
}

.button__reflection-1Git::after {
  content: "";
  width: 26px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: 1.25rem;
}

.button__reflection-2Git::after {
  content: "";
  width: 40px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: .8rem;
}

/* Moving geometric shapes */
.buttonGit img {
  position: absolute;
  opacity: 0;
  transition: transform .5s, opacity .5s;
}

.button__star-1Git {
  width: 20px;
  top: -640px;
  left: 40%;
  transform: rotate(48deg) scale(.1);
}

.button__star-2Git {
  width: 40px;
  top: -645px;
  left: 42%;
  filter: invert(1);
  transform: rotate(-48deg) scale(.1);
}

.button__circle-1Git, 
.button__circle-2Git {
  width: 8px;
}

.button__circle-1Git {
  top: -8px;
  left: 58px;
  top: -645px;
  left: 42%;
  filter: invert(1);
  transform: scale(.1);
}

.button__circle-2Git {
  right: 34px;
  bottom: -8px;
  filter: invert(1);
  top: -645px;
  left: 42%;
  transform: scale(.1);
}

.button__diamondGit {
  width: 18px;
  filter: invert(1);
  top: -555px;
  left: 42%;
  transform: scale(.1);
}

.button__triangleGit {
  width: 30px;
  filter: invert(1);
  top: -540px;
  left: 45%;
  transform: rotate(-48deg) scale(.1);
}

/* Gradient shadow */
.button__shadowGit {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  padding: 1.25rem 3rem;
  border-radius: 4rem;
  border: 3px solid var(--black-color);
  z-index: -1;
  transition: transform .3s;
  width: 300px;
  left: 39%;
  top: -600px;
}

/* View shadow gradient */
.buttonGit:hover .button__shadowGit {
  transform: translate(-.5rem, .5rem);
}

/* Move reflection */
.buttonGit:hover .button__reflection-1Git {
  left: 120%;
}

.buttonGit:hover .button__reflection-2Git {
  left: -70%;
}

/* View geometric shapes */
.buttonGit:hover {
  transform: rotate(-4deg) scale(1.1);
}

.buttonGit:hover img {
  opacity: 1;
}

.buttonGit:hover .button__star-1Git {
  transform: scale(1.1);
  transition-delay: .1s;
  filter: invert(1)
}

.buttonGit:hover .button__star-2Git {
  transform: scale(1.1);
}

.buttonGit:hover .button__circle-1Git {
  transform: translateY(-8px) scale(1.1);
  transition-delay: .1s;
}

.buttonGit:hover .button__circle-2Git {
  transform: translate(-20px, 20px) scale(1.1);
}

.buttonGit:hover .button__diamondGit {
  transform: translateY(7px) rotate(-24deg) scale(1.1);
}

.buttonGit:hover .button__triangleGit {
  transform: rotate(-12deg) scale(1.1);
}







/* Email Button */

.buttonEm {
  position: relative;
  transition: transform .4s;
  width: 100px;
}

.button__contentEm {
  position: relative;
  background: #66CDAA ;
  padding: .75rem 0.5rem;
  border-radius: 2rem;
  border: 5px solid var(--black-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  overflow: hidden;
  width: 300px;
  left: 39%;
  top: -580px;
  
}

.button__textEm {
  font-weight: 700;
}

.button__icon {
  font-size: 1.5rem;
}

.button__textEm, 
.button__icon {
  position: relative;
  z-index: 2;
}


/* Reflection shapes */
.button__reflection-1Em, 
.button__reflection-2Em {
  width: 8px;
  height: 120px;
  background-color: var(--reflection-color);
  rotate: 30deg;
  position: absolute;
  inset: 0;
  top: 0;
  left: -180%;
  margin: auto;
  transition: left .6s cubic-bezier(.2, .5, .2, 1.2);
}

.button__reflection-1Em::after {
  content: "";
  width: 26px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: 1.25rem;
}

.button__reflection-2Em::after {
  content: "";
  width: 40px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: .8rem;
}

/* Moving geometric shapes */
.buttonEm img {
  position: absolute;
  opacity: 0;
  transition: transform .5s, opacity .5s;
}

.button__star-1Em {
  width: 20px;
  top: -640px;
  left: 40%;
  transform: rotate(48deg) scale(.1);
}

.button__star-2Em {
  width: 40px;
  top: -645px;
  left: 42%;
  filter: invert(1);
  transform: rotate(-48deg) scale(.1);
}

.button__circle-1Em, 
.button__circle-2Em {
  width: 8px;
}

.button__circle-1Em {
  top: -8px;
  left: 58px;
  top: -645px;
  left: 42%;
  filter: invert(1);
  transform: scale(.1);
}

.button__circle-2Em {
  right: 34px;
  bottom: -8px;
  filter: invert(1);
  top: -645px;
  left: 42%;
  transform: scale(.1);
}

.button__diamondEm {
  width: 18px;
  filter: invert(1);
  top: -555px;
  left: 42%;
  transform: scale(.1);
}

.button__triangleEm {
  width: 30px;
  filter: invert(1);
  top: -540px;
  left: 45%;
  transform: rotate(-48deg) scale(.1);
}

/* Gradient shadow */
.button__shadowEm {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  padding: 1.25rem 3rem;
  border-radius: 4rem;
  border: 3px solid var(--black-color);
  z-index: -1;
  transition: transform .3s;
  width: 300px;
  left: 39%;
  top: -580px;
}

/* View shadow gradient */
.buttonEm:hover .button__shadowEm {
  transform: translate(-.5rem, .5rem);
}

/* Move reflection */
.buttonEm:hover .button__reflection-1Em {
  left: 120%;
}

.buttonEm:hover .button__reflection-2Em {
  left: -70%;
}

/* View geometric shapes */
.buttonEm:hover {
  transform: rotate(-4deg) scale(1.1);
}

.buttonEm:hover img {
  opacity: 1;
}

.buttonEm:hover .button__star-1Em {
  transform: scale(1.1);
  transition-delay: .1s;
  filter: invert(1)
}

.buttonEm:hover .button__star-2Em {
  transform: scale(1.1);
}

.buttonEm:hover .button__circle-1Em{
  transform: translateY(-8px) scale(1.1);
  transition-delay: .1s;
}

.buttonEm:hover .button__circle-2Em {
  transform: translate(-20px, 20px) scale(1.1);
}

.buttonEm:hover .button__diamondEm {
  transform: translateY(7px) rotate(-24deg) scale(1.1);
}

.buttonEm:hover .button__triangleEm {
  transform: rotate(-12deg) scale(1.1);
}











/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top .3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top .3s;
  }
}


